{% load static %}
{% include  'Dashboard/header.html' %} 

<div class="container mt-4">
    <h3>Add Subscription Plan for <strong>{{ property.title }}</strong></h3>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.duration_months.label_tag }}
            {{ form.duration_months }}
        </div>

        <div class="mb-3">
            {{ form.initial_deposit_percent.label_tag }}
            {{ form.initial_deposit_percent }}
        </div>

        <button type="submit" class="btn btn-success">Add Plan</button>
        <a href="{% url 'viewProperty' property.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>


{% include  'Dashboard/footer.html' %} 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS (v4) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>