django
django-browser-reload
django-jazzmin
python-dotenv
django-crispy-forms
crispy-bootstrap4
celery
django-celery-beat
django-celery-results
report_lab
weasyprint
python-docx
django-widget-tweaks


